body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}

h2{
    color: red;
    font-size: 35px;
}

.flexible{
    display: flex;
    margin-bottom: 20px;
}

.top-banner{
    background-image: url("images/7.png");
    background-repeat: no-repeat;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}

video{
    border: 5px solid rgb(31, 93, 187);
    border-radius: 20px;
    height: 300px;
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 800;
    color: rgb(126, 7, 7);
    padding: 10px 20px;
    border: 2px solid orange;
    border-radius: 20px;
    
}
.food-guide{
    background-image: url("images/Group 8448.png");
    
    
}

.food-guide img{
    border: 10px solid purple;
    border-radius: 30px;

}

.reciepy{
    background-image: url("images/Frame 58.jpg");
    background-repeat: no-repeat;
}

.reciepy h2 {
    text-align: center;

}

.healty-food{
    display: flex;
    width: 100%;
    background-image: url("images/7.png");
}

.reciepy-title{
    border: 5px solid salmon;
    border-radius: 40px;
    margin: 3%;
    padding: 3%;
    box-shadow: 10px 10px 40px blue;
}

.healty-food img{
    width: 100%;
}

.about-me img{
    border: 10px solid purple;
    border-radius: 30px;
    width: 110%;
    margin-right: 4%;
}

.about-me{
    background-color: aqua;
}

.social-media{
    margin: 6%;
    border: 1px solid aqua;
    border-radius: 20px;
    box-shadow: 20px 20px 50px aqua;
    display: flex;
    padding: 2%;
    text-align: center;
    
}

.social-media p{
    font-weight: 600;
   
}


.food{
    width: 50%;
    padding-left: 5%;
}

footer{
    text-align: center;
    background-color: black;
}
